.chat-container {
    max-width: 30%;
    height: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .chat-history {
    margin-bottom: 20px;
  }
  
  .chat-message {
    margin-top: 20px;
    /* margin-bottom: 10px; */
  }
  
  .chat-message-question {
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 20px;
    width: 55%;
    margin-bottom: 10px;
    margin-left: 55%;
    font-family: system-ui;
  }
  
  .chat-message-answer {
    background-color: #b2dfdb;
    padding: 15px;
    border-radius: 20px;
    max-width: 55%;
    margin-bottom: 10px;
    font-family: system-ui;
  }
  
  
  .chat-form {
    display: flex;
    margin-top: 68%;
    padding: 15px;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1; /
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    
  }
  
  .chat-submit {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* border: none; */
    border: 1px solid #b9b9b9;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    margin-top: auto;
  }
  
  .chat-submit:hover {
    background-color: #ccc;
  }